body {
    background-color: rgba(65, 105, 225, 0.05);
    margin: 0;
}
   
img {
    outline:3px solid black;
    outline-offset: -10px;
    border: 7.5px solid rgba(65, 105, 225, 0.75);
    box-shadow: 0 0 0 3px black;
    border-radius: 30px;
    object-fit: scale-down;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: radial-gradient(rgba(65, 105, 225, 0.7),rgba(65, 105, 225, 0.0));
}

p,
ol,
ul {
    text-align: left;
    margin-top: 0;
    margin-bottom:0;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 2em;
}

h2,
.servings {
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom:30px;

}
 .servings,
 ul {
    margin-top: -30px;
 }

h2 {
    background-image: radial-gradient(rgba(65, 105, 225, 0.7),rgba(65, 105, 225, 0.0));
    max-width:110%;
}

h1 {
    padding:20px;
    margin: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    border: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    max-width: 110%;
    color: darkgreen;
    background-image: linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    text-align: center;
} 

h3 {
    padding:10px;
    margin: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    border: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    max-width: 110%;
    color:transparent;
    background-image: linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    transform: rotate(180deg); 
    margin-bottom:0; 
}

h4 {
    color: darkgreen;
    text-align: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom:0;
}

ul,
ol {
    margin-left: 3%;
    margin-right: 5%;
    font-style:oblique;
 }
 
 ul {
    line-height: 1.5em;
    margin-bottom:5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
 }

 .homebutton {
     transform: rotate(180deg);
 }