body {
    background-color: rgba(65, 105, 225, 0.3);
}
  
img {
    outline:3px solid black;
    outline-offset: -10px;
    border: 7.5px solid rgba(65, 105, 225, 0.75);
    box-shadow: 0 0 0 3px black;
    border-radius: 30px;
    object-fit: scale-down;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
}

h1 {
    padding:20px;
    margin: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    border: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    max-width: 110%;
    color: darkgreen;
    background-image: linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    text-align: center;
} 

h2,
h4,
p,
li {
    text-align: center;
    line-height: 2rem;
}

h3 {
    padding:15px;
    margin: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    border: 20px linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    max-width: 110%;
    color:transparent;
    background-image: linear-gradient(rgba(65, 105, 225, 0.9),rgba(65, 105, 225, 0.0));
    transform: rotate(180deg); 
    margin-bottom:0; 
}

li {
    margin-left: -35px;
}